TELEGRAM__TOKEN=xxx:yyyyy    # bot token from @BotFather
TELEGRAM__ADMIN_ID=123456789 # admin id
TELEGRAM__PROXY_URL=socks5://user:pass@127.0.0.1:1080 # optional SOCKS5 proxy
TELEGRAM__TIMEOUT=30s        # timeout for Telegram API requests
CENSOR__BLACKLIST='x,y,z'    # list of banned words, separated by comma
